@import "commen.less";

.infor {
  width: 76%;
  height:500px;
  .p;
  margin:110px auto;
  //.br;
}

.inforbox{
  width: 17%;
  margin: 0 8%;
  .fl;
.br;
  h4 {
    text-align: center;
    font-size: 18px;
    font-family: @ff;
    font-weight: 500;
    margin: 10px 0;
    color: @fc;
  }
.content {
  width: 150%;
  margin-left: -25%;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

}

img1 {
  .br;
  background:url(/images/icon1-bw.jpg) no-repeat top left;
  background-size:100% 100%;
}
